html {
    color: white;
    background-color: #242424;
}

textarea {
    background-color: #DCDCDC;
    min-height: 300px;
    resize: none;
    margin: 15px;
}

#top-description {
    text-align: center;
}

#text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0fr;
    grid-gap: 10px;
}

button {
    border-radius: 7px;
    background-color: #339DFF;
    color: #fff;
    border: none;
    color: white;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #1D5093}

button:active {
    transform: translate(2px, 2px);
}

#submit-button {
    display: block;
    margin: auto;
}

#toggles-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}